# 핵심 의존성
pandas>=2.2.0
pyarrow>=15.0
polars>=1.0
numpy>=1.26, <2.0
sqlalchemy>=2.0
openpyxl>=3.1
connectorx>=0.3.0
fsspec>=2024.5.0
fastcdc>=1.7.0
typer[all]>=0.12.0
rich>=13.0
pytz>=2024.1

# 선택적 의존성
# torch>=2.0
# tensorflow>=2.12
# xxhash>=3.4.1

# 개발용 의존성
pytest~=8.4
build~=1.2
twine~=5.1
alabaster~=0.7
myst-parser==0.18.0